@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

:root{
  --color-blue-1-alpha:rgba(45,70,100,0.9);
  --color-blue-1:rgb(45,70,100);
  --color-blue-2:rgb(141,228,255);

  --window-shadow-1:0px 4px 4px rgb(0,0,0,0.25);
}

*{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 14px;
  color: var(--color-blue-1);
}

a{
  text-decoration: none;
}

body{
  margin: auto;
  padding: 0;
  margin-top: 5.5rem;
  background-image:  url('../../static/imgs/BG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  background-color: rgb(248, 250, 251);
  box-shadow: var(--window-shadow-1);
 text-align: center;
}

.header h1.siteName{
  margin: 0;
  line-height: 1.5rem;
}

.header .copy{
  font-size: 0.8rem;
  margin:0;
  line-height: 1.5rem;
  color: #666;
}

.boxes-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  background-color: rgb(214,234,242);
  box-shadow: var(--window-shadow-1);
}

.heading{
  width: 100%;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #fff;
  line-height: 2.0em;
  font-size: 1.0rem;
  font-weight: normal;
  background-color: var(--color-blue-1);
  border-radius: 5px;
}

.heading font *,
.charNameBar font *,
.charBoxwrap font *,
table.input th font *
{ color: #fff; }


.boxArea{
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #f9f9ff;
  box-shadow: var(--window-shadow-1);
}

.boxAreaWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
  border: 1px solid rgb(191,200,212);
  border-radius: 5px;
}

.boxArea p.texts{
  margin: 0.5rem;
  width: 100%;
  text-align: left;
  line-height: 1.5rem;
}

/* 認証キー装飾 */
.ninsho{
  display: inline-block;
  padding: 0.5rem 1.0rem;
  font-size: 2.0rem;
  margin: auto;
  background-color: #ffdddd;
}


.boxAreaWrap a{
  text-decoration: underline;
}

.charBox{
  width: 12%;
  min-width: 60px;
  max-width: 160px;
  margin: 0 0.2rem;
  margin-bottom: 0.5rem;
  border: 0.15rem solid #f0f0f9;
  border-radius: 1.5vw;
  overflow: hidden;
  box-shadow: 0px 2px 2px 0 rgb(0, 0, 0, 0.25);
}

.charNameBar{
  box-sizing: border-box;
  position: absolute;
  line-height: max(1.2vw,0.8rem);
  font-size: max(1vw,0.6rem);
  margin:  0;
  bottom: 0px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 0.2rem 0;
  background-color: var(--color-blue-1-alpha);
}


.chosenChars .charNameBar{
  /* line-height: 2.4vw;
  font-size: 2vw; */
}

label{
  display: block;
  cursor: pointer;
}

.charBoxwrap{
  position: relative;
  z-index: 3;
  width: 100%;
}

.charCheckBox{ display: none; }

.forchk{
  visibility: hidden;
  display: block;
  text-align: center;
  position: absolute;
  color: transparent;
  padding: 50% 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: 1.0rem;
  transition: 0.1s linear;
}


.charCheckBox:checked + .forchk{
  color: #FFF;
  visibility: visible;
  background: rgba(0,0,0,0.8);
}

.charBoxwrap img{
  display: block;
  text-align: center;
  width:100%;
  min-width: 50px;
}



/* アイテムリスト */
.itemBox{
  width: 15%;
  position: relative;
  height: 100%;
  margin: 0.5rem;
  min-width: 60px;
  max-width: 100px;
  z-index: 1;

}

.itemBoxFrame{
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -5%;
  bottom: -5%;
  border: 2px solid #eee;
  border-radius: 20% 10%;
  transform: skewX(-9deg);
  background-image: url('../../static/itemIcons/itemBG.png');
  background-size: 150%;
  background-position: center;
  box-shadow: 0px 2px 5px 0 rgb(0, 0, 0, 0.25);
}

.itemBar{
  box-sizing: border-box;
  position: absolute;
  margin:  0;
  bottom: 5%;
  right: 15%;
  width: 100%;
  padding: 0;
  text-align: right;
  line-height:min(1.5vw,1.5rem);
  font-size: max(2vw,0.6rem);
  font-weight: bold;
  word-break: break-word;
  z-index: 3;
  text-shadow: 0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff;
}
.itemBar span{
  font-size: max(1.5vw,0.4rem);
}

.itemBox img{
  display: block;
  width:100%;
  min-width: 50px;
}

/* 数値入力ページ */
.tableWrap{
  box-sizing: border-box;
  background-color: rgb(243, 251, 253);
  padding: 0.5rem;
  margin-bottom:0.5rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--window-shadow-1);
}
table.input{
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}
table.input th{
  color: #fff;
  font-weight: normal;
  background-color: var(--color-blue-1);
  border-radius: 5px;
  line-height: max(1.2vw,0.8rem);
  font-size: max(1vw,0.6rem);
  position: sticky;
  top: 4.0rem;
  z-index: 6;
  padding: 0.3rem 0.1rem;
}

table.input td{
  font-size: 0.8rem;
  border-bottom: 1.5px dashed #ccc;
}

td > div.charBoxwrap{
  width: 100%;
  margin: 0;
  border-radius: 0px;
}

table.input{
  text-align: center;
  border-collapse: separate;
  border: none;
}


table input{
  border: 1px solid #ddd;
  text-align: right;
  height: 1.5rem;
  border-radius: 3px;
  padding: 0 0.4rem;
  font-size: 0.8rem;
}

table .Eqs select{
  border: 1px solid #ddd;
  font-size: max(1vw,0.6rem);
  height: 1.5rem;
  border-radius: 3px;
}
tr:nth-child(2n) td:nth-child(1){
  width: 10%;
}
/* テーブルの１行ごとに装飾 */
tr:nth-child(2n) td{
  /* background-color: #dddddd; */
  height: 10%;
}
tr:nth-child(2n+1) td{
  height: 10%;
  /* background-color: #ddddff; */
}

td.inputTd input[type="number"]{
  width: 1.2em;
}

/* 入力欄の矢印を非表示にする */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

.errormsg{
  color: #ff0000;
}

/* 汎用ボタン */
.Btn{
  display: inline-block;
  z-index: 10;
  font-size: 1.0rem;
  margin: 0.5rem 1.0rem;
  min-width: 120px;
  padding: 1.0rem;
  border: none;
  border-radius : 5px;
  cursor        : pointer;
  text-align    : center;
  transform: skewX(-9deg);
  transition    : .3s;
  box-shadow: var(--window-shadow-1);
}

.btnWrap{
  text-align: center;
}

.Btn.blue{
  background-color: var(--color-blue-2);
}
.Btn.yellow{
  color: rgb(75, 33, 22);
  background: rgb(245, 232, 74);
}
.Btn:active{
  transform: scale(0.95,0.95) skewX(-9deg);
}

.menuBar{
  position: fixed;
  background-color: rgb(248, 250, 251);
  z-index:9;
  top: -16rem;
  right:-1rem;
  width: 100%;
  max-width: 15.0rem;
  overflow: hidden;
  border: none;
  border-radius : 5px;
  box-shadow: var(--window-shadow-1);
  cursor : pointer;
  transition: 0.3s;
}
#menuOnOff{
  display:none;
}
#menuOnOff:checked~.menuBar{
  top: 4.5rem;
}

.menu{
  width: auto;
  transition: .3s;
  margin: 0;
  padding: 0;
}
.menu li{
  list-style: none;
  border-top: 1px solid #ddd;
}
.menu li a{
  display: block;

  padding: 1.0rem;
  transition: 0.1s;
}

.menu li:nth-child(1){
  border-top: none;
}


.menu li:hover>a,
.menu li:hover>a>i{
  background-color: var(--color-blue-1);
  color: #fff;
}

.menu li i{
  margin-right: 0.5rem;
  transition: 0.1s;
}

.menubtn{
  position: fixed;
  z-index: 11;
  display: block;
  top: 0.5rem;
  right:0.5rem;
  padding:1.5rem;
  font-size: 0.5rem;
  border-radius: 50%;
  background: var(--color-blue-1);
  box-shadow: var(--window-shadow-1);
  transition: 0.15s;
}

.menubtn i{
  display: block;
  font-size: 1.0rem;
  color: #fff;
}
.menubtn:hover{
  background: var(--color-blue-2);
}
.menubtn:active{
  transform: scale(0.9,0.9);
}




@media screen and (min-width:481px) {
	/* 481px以上に適用されるCSS（タブレット用） */

  body{
    margin-top: 4.5rem;
  }

  .container{
    padding: 0 2%;
    display: flex;
    justify-content: center;
  }

  .header{
    text-align: left;
  }

  .header .container{
    display: flex;
    justify-content: flex-start;
  }

  .header h1.siteName a{
    line-height: 2.5rem;
  }
  .header .copy{
    line-height: 2.5rem;
    margin-left: 0.5rem;
  }


  h4.boxAreaBar{
    line-height: 2.4em;
    font-size: 1.2rem;
  }

  .charBox{
    width: 15%;
    min-width: 60px;
    margin: 0.5rem;
    border-width:0.3rem;
    border-radius: 10%;
  }

  .charNameBar{
  font-size: min(1.5vw, 1.0rem);
  }

table.input th{
  font-size: max(1.5vw, 0.8rem);
}
table input{
  height: 2.0rem;
  font-size: max(1.5vw, 0.8rem);
}
table .Eqs select{
  height: 2.0rem;
  font-size: max(1.5vw, 0.8rem);
}

  .itemBar{
    text-shadow: 0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff,0 0 2px #fff;
  }

  .menubtn{
    top: 0.5rem;
    right:1.0rem;;
    font-size: 1.0rem;
  }

}

@media screen and (min-width: 960px){
	/* 960px以上に適用されるCSS（PC用） */

.boxes-container{
  padding:0.5rem;
  justify-content: space-around;
}

.boxArea.chars.result{
  width: 30%;
}

.charBox{
  width: 15%;
  margin: 1rem 0.5rem;
  border-radius: 10%;
}

.charNameBar{
  line-height: min(2vw, 1.5rem);
}

.charBox.chosenChars{
  width: 10%;
  margin: 0.3rem 0.2rem;
  border-width: 0.2rem;
  min-width: 60px;
}

.chosenChars .charNameBar{
  line-height: 1.0rem;
  font-size: min(1vw, 0.8rem);
}

.boxArea.items.result{
  width: 65%;
}
table.input th{
  line-height: 2.2vw;
  font-size: min(2.0vw, 1.0rem);
}
table input{
  padding: 0 1.0rem;
  height: 2.0rem;
  font-size: min(2.0vw, 1.2rem);
}
table .Eqs select{
  height: 2.0rem;
  font-size: min(2.0vw, 1.2rem);
}

.itemBar{
  bottom: 0;
  line-height:min(1.5vw,1.2rem);
  font-size: min(1.5vw,1.2rem);
}

.itemBar span{
  font-size: min(1.5vw,0.8rem);
}


}



@media screen and (min-width: 720px) and (orientation: landscape){
	/* 960px以上に適用されるCSS（PC用） */

.boxes-container{
  margin-left: 0 auto;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: space-around;
}

.boxArea.chars.result{
  /* position: fixed; */
  width: 25%;
}
.boxArea.items.result{
  width: 70%;
}
}
