{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="スマホゲーム「ブルーアーカイブ（ブルアカ）」の育成素材を一括計算できる攻略支援ツールです。">
<meta name="keywords" content="ブルーアーカイブ,ブルアカ,ブルアカ 攻略,ブルアカ  育成,ブルアカ 素材,ブルアカ 育成素材,ブルアカ 素材 計算">
<link rel="icon" href="{% static 'imgs/favicon.ico' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% if GOOGLE_ANALYTICS_TRACKING_ID %}
  {% include 'ga.html' %}
{% endif %}
<script src="https://kit.fontawesome.com/06fc159213.js" crossorigin="anonymous"></script>

<title>{% if pagetitle != "" %}{{ pagetitle }} | {% endif %}ブルーアーカイブ（ブルアカ）育成マスター</title>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@BlueArchiveCalc" />
<meta property="og:url" content="https://bluearchive-calculator.com/" />
<meta property="og:title" content="ブルーアーカイブ（ブルアカ）育成マスター" />
<meta property="og:description" content="Yostar社提供のスマホゲーム「ブルーアーカイブ（ブルアカ）」の、育成素材必要数計算ツールです。（非公式）" />
<meta property="og:image" content="https://bluearchive-calculator.com{% static 'imgs/sitecard.png' %}" />

</head>
<body>
<div class="header">
  <div class="container">
    <h1 class="siteName"><a href="{% url 'charchoise'%}">ブルアカ育成マスター</a></h1>
    <p class="copy">育成素材を一括計算</p>
  </div>
</div>

<div class="container">
  <div class="boxes-container">
    <h2 class="heading">{{ pagetitle }}</h2>

  {% block content %}{% endblock %}
  </div>
</div>

<label for="menuOnOff">
  <span class="menubtn">
  <i class="fas fa-bars"></i>
</span>
</label>

<input type="checkbox" id="menuOnOff">
<div class="menuBar">
  <ul class="menu">
    <li><a href="{% url 'charchoise'%}"><i class="fas fa-calculator"></i>Let's Calculate!</a></li>
    <li><a href="{% url 'loadData'%}"><i class="fas fa-file-import"></i>Load Your Data</a></li>
    <li><a href="{% url 'about'%}"><i class="fas fa-question-circle"></i>About</a></li>
    <li><a href="{% url 'howto'%}"><i class="fas fa-lightbulb"></i>How To</a></li>
    <li><a href="{% url 'privacypolicy'%}"><i class="fas fa-id-badge"></i></i></i>Privacy Policy</a></li>
    <li><a href="https://twitter.com/BlueArchiveCalc"><i class="fab fa-twitter"></i>Official Twitter</a></li>
    <li><a href="https://twitter.com/intent/tweet?text=%23ブルアカ育成マスター で育成素材を計算しよう！%0A%23ブルアカ%0Ahttps%3A%2F%2Fbluearchive-calculator.com%2F"><i class="fab fa-twitter"></i>Share on Twitter</a></li>
    <li><a href="https://forms.gle/HeBsiPisRznURhnj8"><i class="fas fa-envelope"></i>Contact</a></li>
  </ul>
</div>

</body>
</html>
