{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>{{msg}}</p>

{% include 'content.html' %}

<form action="input" method="get" >
  <div class="boxArea chars">
  <h3 class="heading">生徒一覧</h3>
  <div class="boxAreaWrap">
  {% for charId, charName in chars %}
  <div class="charBox">
  <div class="charBoxwrap">
  <label>
  <input type="checkbox" name="char" class="charCheckBox" value="{{ charId }}">
  <div class="forchk">選択中
  </div>
  <img src = "{% static 'stuIcons/stuIcon_' %}{{ charId }}.png">

  <!-- <img src = "../../static/stuIcons/stuIcon_{{ charId }}.png"> -->
  <p class="charNameBar">{{ charName }}</p>
  </label>
  </div>
  </div>

  {% endfor %}
  </div>
  </div>

<div class="btnWrap">
<input type="submit" class="Btn  blue" value="次へ"></div>
</form>
{% endblock %}
